// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming¸¸
@use '@angular/material' as mat;
@use './styles/dark.scss' as dark-palettes;
@use './styles/ben-ten.scss' as ben-ten;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$primary-dark: mat.define-palette(dark-palettes.$m2-primary);
$accent-dark: mat.define-palette(dark-palettes.$m2-accent, A200, A100, A400);
$warn-dark: mat.define-palette(dark-palettes.$m2-error);

$primary-ben-ten: mat.define-palette(ben-ten.$m2-primary);
$accent-ben-ten: mat.define-palette(ben-ten.$m2-accent, A200, A100, A400);
$warn-ben-ten: mat.define-palette(ben-ten.$m2-error);

$main-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$indigo-palette),
            accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);

$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: $primary-dark,
            accent: $accent-dark,
            warn: $warn-dark,
        ),
    )
);

$ben-ten-theme: mat.define-light-theme(
    (
        color: (
            primary: $primary-ben-ten,
            accent: $accent-ben-ten,
            warn: $warn-ben-ten,
        ),
    )
);

.light-theme {
    @include mat.all-component-themes($main-theme);
    #header-bar {
        background-color: #fafafa;
    }
    .alert {
        color: mat.get-color-from-palette($primary);
    }

    .own-message {
        background-color: #5b6feb;
        color: #fff;
        border-radius: 1em 1em 0.15em 1em;
    }

    .friends-section {
        background: #f9f9f9;
        h3 {
            color: #333;
        }
    }

    .clickable-item:hover {
        background-color: #dddddd;
    }

    .balance-container {
        background-color: #e8eaf6;
    }

    .balance-icon {
        color: #ff4081;
    }

    .balance-text {
        color: #1a237e;
    }

    .mat-basic {
        background-color: white;
    }

    .signup-button {
        background-color: white;
    }

    .card-header-background {
        background-color: rgb(0, 0, 0, 0.05) !important;
    }
}

.dark-theme {
    background-color: #101114 !important;
    --mdc-elevated-card-container-color: #1a1c22;
    --mdc-elevated-card-container-elevation: #080808;
    --mdc-filled-text-field-container-color: #323336;
    --mdc-snackbar-supporting-text-color: black !important;
    --mdc-dialog-supporting-text-color: #d0d0d0;
    --mat-expansion-container-background-color: #0b0c0f;
    --mdc-protected-button-container-color: mat.get-color-from-palette($primary-dark, 800);
    --mat-sidenav-container-background-color: black;

    color: white;
    .color-variant {
        color: mat.get-color-from-palette($accent-dark, 900) !important;
    }

    .mdc-snackbar__label {
        color: white !important;
    }

    .signup-button {
        background-color: #323336 !important;
    }

    .mat-basic {
        background-color: #323336 !important;
    }

    .friends-section {
        background: #1a1c22;
        h3 {
            color: white;
        }
    }

    .color-variant-2 {
        color: mat.get-color-from-palette($primary-dark, 900) !important;
    }

    .alert {
        color: mat.get-color-from-palette($primary-dark);
    }

    .card-header-background {
        background-color: rgb(0, 0, 0, 0.05) !important;
    }

    // TODO: When button is disabled, give color pl0x
    // .mat-mdc-raised-button:not(:disabled) {
    //     background-color: #323336;
    // }

    // TODO : Fix focus colors in chat component text field

    .own-message {
        background-color: #5b6feb;
        color: black;
        border-radius: 1em 1em 0.15em 1em;
    }

    .sidenav-container {
        background-color: #101114 !important;
    }

    #header-bar {
        background-color: #101114;
    }

    #game-header-card {
        background-color: #080808 !important;
    }

    #game-details-container {
        background-color: #1a1c22;
    }

    #timer-area {
        background-color: #323336 !important;
        color: white !important;
    }

    .clickable-item:hover {
        background-color: #303030 !important;
    }

    .player-card {
        background-color: #212121 !important;
    }

    .balance-container {
        background-color: #37383a;
    }

    .balance-icon {
        color: mat.get-color-from-palette($accent-dark);
    }

    .balance-text {
        color: white;
    }
}

.ben-ten-theme {
    @include mat.all-component-themes($ben-ten-theme);
    #header-bar {
        background-color: #fafafa;
    }
    .alert {
        color: mat.get-color-from-palette($primary);
    }

    .own-message {
        background-color: #5b6feb;
        color: #fff;
        border-radius: 1em 1em 0.15em 1em;
    }

    .friends-section {
        background: #f9f9f9;
        h3 {
            color: #333;
        }
    }

    .clickable-item:hover {
        background-color: #dddddd;
    }

    .balance-container {
        background-color: #e8eaf6;
    }

    .balance-icon {
        color: #ff4081;
    }

    .balance-text {
        color: #1a237e;
    }

    .mat-basic {
        background-color: white;
    }

    .signup-button {
        background-color: white;
    }

    .card-header-background {
        background-color: rgb(0, 0, 0, 0.05) !important;
    }
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dark-theme);
@include mat.all-component-themes($ben-ten-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.top-page {
    display: flex;
}

.cdk-global-overlay-wrapper {
    justify-content: center !important;
}

.add-button-container {
    box-sizing: border-box;
}

.add-question-button {
    box-sizing: border-box;
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.42);
    display: block;
    height: 48px;
    width: 100%;
}

.empty-list-card {
    text-align: center;
}
.main-container {
    padding: 1rem 8rem;
    margin-bottom: 25vh;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    height: 100%;
}

.buttons-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.buttons-rack {
    flex-direction: column;
}

.error-snackbar {
    --mdc-snackbar-container-color: #cc0000;
    --mat-snack-bar-button-color: white;
    white-space: pre-wrap;
}

.success-snackbar {
    --mdc-snackbar-container-color: #4bb543;
    --mat-snack-bar-button-color: white;
    white-space: pre-wrap;
}

.custom-placeholder {
    height: 48px;
    border: solid 1px #ccc;
    margin-bottom: 8px;
    border-radius: 4px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow:
        0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.question:last-child {
    border: none;
}

.list.cdk-drop-list-dragging .question:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.question {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 14px;
    cursor: move;
}

.short-question {
    width: 13vw;
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
}

.mat-button-toggle-button,
.toggle {
    height: inherit;
    width: inherit;
}

.spaced {
    margin-bottom: 1rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.navigation-buttons {
    margin: 0;
}

.virtual-scroll {
    height: 100vh;
}

.centered-container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.question-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    gap: 0.75rem;
    width: 20vw;
    height: 20vh;
    z-index: 99;
}

.exit-button {
    display: flex;
    gap: 1rem;
}

.material-icons {
    font-size: 1.5rem;
}

.controls-container button {
    width: 15vw;
}

.mat-tool-tip,
.tooltip-multiline,
mat-tool-tip {
    white-space: pre-line !important;
    height: auto;
    display: flex;
}

.mat-tool-tip *,
.tooltip-multiline *,
mat-tool-tip * {
    text-align: left;
}
