#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

package-lock.json
.DS_Store

# Code Coverage Folder
coverage/

# Build Folder
build/

#Node Modules
/node_modules
client-mobile/.idea/inspectionProfiles/Project_Default.xml
client-mobile/.idea/deploymentTargetSelector.xml
client-mobile/.idea
/.idea
/client-mobile/app/.idea
