<ng-container *transloco="let t">
    <div id="main-container">
        <div *ngIf="this.matchContextService.getContext() !== matchContext.HostView">
            <h2>{{ t('cheater-mode.voteCheater') }}</h2>
            <div id="players-list">
                <mat-radio-group [(ngModel)]="selectedPlayer">
                    <mat-card *ngFor="let player of matchRoomService.players" class="player-card">
                        <div *ngIf="player.username !== matchRoomService.getUsername()">
                            <mat-radio-button [value]="player.username">
                                <div class="avatar-container">
                                    <div class="avatar">
                                        <img src="{{ player.photoUrl ? player.photoUrl : defaultAvatar }}" alt="" />
                                    </div>
                                    <p class="player-username">{{ player.username }}</p>
                                </div>
                            </mat-radio-button>
                        </div>
                    </mat-card>
                </mat-radio-group>
                <div id="vote-button">
                    <button mat-raised-button color="primary" [disabled]="!this.isVotingDisabled || !selectedPlayer" (click)="onVote()">
                        <p>{{ t('cheater-mode.vote') }}</p>
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="this.matchContextService.getContext() === matchContext.HostView && this.matchRoomService.votingUsers">
            <app-pulse-loader *ngIf="this.playersPlaying.length != this.totalVotesOfActivePlayers"> </app-pulse-loader>
            <p *ngIf="this.playersPlaying.length != this.totalVotesOfActivePlayers" class="host-text">{{ t('cheater-mode.players-still-voting') }}</p>

            <p *ngIf="this.playersPlaying.length == this.totalVotesOfActivePlayers" class="host-text">{{ t('cheater-mode.players-voted') }}</p>
            <div id="players-list">
                <mat-card *ngFor="let player of this.playersPlaying" class="player-card">
                    <p>{{ player.username }}</p>
                    <p class="player-card" *ngIf="this.matchRoomService.votingUsers.includes(player.username)">
                        {{ t('cheater-mode.playerVoted', { player: player.username }) }}
                    </p>
                </mat-card>
            </div>
        </div>
        <div class="results-button">
            <div *ngIf="this.matchContextService.getContext() === matchContext.HostView && !this.matchRoomService.isCooldown">
                <button mat-raised-button *ngIf="this.answerSerivce.isEndGame" color="primary" (click)="routeToResultsPage()">
                    <mat-icon class="material-icons">bar_chart</mat-icon>
                    <p>{{ t('question-area.show-final-results') }}</p>
                </button>
            </div>
        </div>
        <div class="controls-container">
            <button mat-raised-button class="exit-button" color="primary" (click)="handleDisconnect()" routerLink="/home">
                <mat-icon class="material-icons">logout</mat-icon>
                <p>QUITTER</p>
            </button>
        </div>
    </div>
    <app-players-list [players]="this.matchRoomService.players"></app-players-list>
</ng-container>
