<div class="voting-dialog">
    <h2>Votez pour le tricheur</h2>
    <mat-radio-group [(ngModel)]="selectedPlayer">
        <mat-selection-list *ngFor="let player of matchRoomService.players">
          <app-players-list [matchRoomService.players] > </app-players-list>
          <div *ngIf="player.username !== matchRoomService.getUsername()">
            <mat-radio-button [value]="player.username">
              <label>{{ player.username }}</label>
              <span> - Votes: {{ voteCounts.numberOfVotes }}</span>
            </mat-radio-button>
          </div>
        </mat-selection-list>
      </mat-radio-group>

    <div class="dialog-actions">
        <button mat-raised-button color="primary" (click)="onVote()">Votez</button>
    </div>

    <div class="cancel-button">
      <button mat-raised-button color="primary" (click)="closeDialog()">Annuler</button>
  </div>
</div>
