<mat-card class="short-question" [ngClass]="question.type === 'QRL' ? 'color-variant' : ''">
    <mat-card-header class="short-question-header">
        <mat-card-title>{{ question.points }} points</mat-card-title>
        <mat-card-subtitle matTooltip="Date de dernière modification">{{ question.lastModification | date: 'YYYY-MM-dd' }}</mat-card-subtitle>
        <p class="question-type">
            <mat-icon>{{ question.type === 'QCM' ? 'widgets' : 'article' }}</mat-icon> {{ question.type }}
        </p>
        <div class="svg-drag-handle">
            <svg class="svg" width="20px" fill="currentColor" viewBox="0 0 24 24">
                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
        </div>
    </mat-card-header>
    <mat-card-content class="short-question-text">
        <p class="short-question-text">{{ question.text }}</p>
    </mat-card-content>
</mat-card>
