<div class="form-container" *transloco="let t">
    <form [formGroup]="questionForm" class="question-form">
        <mat-form-field class="question-text-container">
            <mat-label>Question</mat-label>
            <input class="question-input" matInput formControlName="text" maxLength="50" [placeholder]="t('question-creation-form.question-text')" />
        </mat-form-field>

        <div id="question-properties-options-container">
            <div id="question-options">
                <mat-form-field>
                    <mat-label>{{ this.isActiveSubmit() ? t('question-creation-form.question-type') : questionForm.get('type')?.value }}</mat-label>
                    <mat-select formControlName="type">
                        <span *ngIf="this.isActiveSubmit()">
                            <mat-option *ngFor="let type of ['QCM', 'QRL', 'QRE']" [value]="type">{{ type }}</mat-option>
                        </span>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Points</mat-label>
                    <mat-select formControlName="points">
                        <mat-option *ngFor="let point of [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]" [value]="point">{{ point }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="upload-image-container">
                    <button mat-raised-button color="primary" (click)="pictureUrl.click()">
                        <mat-icon>upload</mat-icon>{{ t('question-creation-form.upload-image') }}
                    </button>
                    <button mat-raised-button color="basic" [disabled]="!questionForm.get('pictureUrl')!.value" (click)="removePicture()">
                        {{ t('question-creation-form.remove-image') }}
                    </button>
                    <div class="main-image">
                        <img *ngIf="questionForm.get('pictureUrl')!.value" [src]="questionForm.get('pictureUrl')!.value" />
                    </div>
                    <input type="file" class="pictureUrl" #pictureUrl (change)="setPicture($event)" accept="image/png, image/jpeg" />
                </div>

                <div *ngIf="modificationState === managementState.GameCreate">
                    <mat-slide-toggle [checked]="bankService.addToBank" color="primary" (click)="toggleBank()"
                        ><p>{{ t('question-creation-form.add-bank') }}</p></mat-slide-toggle
                    >
                </div>

                <div>
                    <button
                        *ngIf="modificationState !== managementState.GameModify"
                        mat-raised-button
                        color="primary"
                        type="submit"
                        class="submit-button"
                        (click)="submitForm()"
                        [disabled]="!questionForm.valid"
                    >
                        <mat-icon>check</mat-icon>
                        {{ getButtonText() }}
                    </button>
                    <div class="prompt-container">
                        <button mat-raised-button type="button" (click)="openQuestionDialog()" class="ai-generation">
                            <mat-icon>lightbulb</mat-icon>
                            {{t('questions-generations.generate-IA')}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="question-properties">
                <div *ngIf="questionForm.get('type')?.value === 'QRL'" class="empty-container">
                    <i class="material-icons empty-icon">flutter_dash</i>
                </div>
                <div cdkDropList (cdkDropListDropped)="dropChoice($event)" *ngIf="questionForm.get('type')?.value === 'QCM'">
                    <div formArrayName="choices" class="choices-container" *ngFor="let text of choices.controls; let i = index">
                        <div class="choice-container" cdkDrag>
                            <div class="choice-container" [formGroupName]="i">
                                <mat-form-field class="choice-input-container">
                                    <p class="choice-number" matPrefix>{{ i + 1 }}.</p>
                                    <input
                                        class="choice-input"
                                        matInput
                                        formControlName="text"
                                        maxLength="50"
                                        [placeholder]="t('question-creation-form.question-choice')"
                                    />
                                    <span matSuffix class="choice-buttons">
                                        <input
                                            type="checkbox"
                                            formControlName="isCorrect"
                                            class="correct-choice pointer-on-hover"
                                            [matTooltip]="t('question-creation-form.tooltip-answer-true')"
                                        />
                                        <button
                                            mat-icon-button
                                            type="button"
                                            class="pointer-on-hover"
                                            (click)="removeChoice(i)"
                                            color="accent"
                                            [matTooltip]="t('question-creation-form.delete-choice')"
                                            matTooltipClass="button-tooltip"
                                        >
                                            <mat-icon>delete</mat-icon>
                                        </button>

                                        <svg width="20px" fill="currentColor" viewBox="0 0 24 24" cdkDragHandle class="pointer-on-hover">
                                            <path
                                                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
                                            ></path>
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                        </svg>
                                    </span>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <button mat-raised-button color="primary" class="add-button" type="button" (click)="addChoice()">
                        <mat-icon>add</mat-icon>
                        {{ t('question-creation-form.add-answer-choice') }}
                    </button>
                </div>
                <div *ngIf="questionForm.get('type')?.value === 'QRL'"></div>
                <div *ngIf="questionForm.get('type')?.value === 'QRE'">
                    <div class="estimation-container" formGroupName="estimatedParameters">
                        <mat-form-field>
                            <mat-label>{{ t('question-creation-form.boundary-low') }}</mat-label>
                            <input
                                matInput
                                formControlName="lowerBound"
                                [placeholder]="t('question-creation-form.boundary-low-placeholder')"
                                type="number"
                            />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>{{ t('question-creation-form.boundary-high') }}</mat-label>
                            <input
                                matInput
                                formControlName="upperBound"
                                [placeholder]="t('question-creation-form.boundary-high-placeholder')"
                                type="number"
                            />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>{{ t('question-creation-form.good-answer') }}</mat-label>
                            <input
                                matInput
                                formControlName="correctAnswer"
                                [placeholder]="t('question-creation-form.good-answer-placeholder')"
                                type="number"
                            />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>{{ t('question-creation-form.tolerance-margin') }}</mat-label>
                            <input
                                matInput
                                formControlName="margin"
                                [placeholder]="t('question-creation-form.tolerance-margin-placeholder')"
                                type="number"
                                min="0"
                            />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
