<div class="friends-search-container">
    <h2>🔍 Rechercher des amis</h2>

    <mat-form-field appearance="outline" class="search-field">
        <mat-label>Recherche</mat-label>
        <input matInput [formControl]="searchControl" placeholder="Nom d'utilisateur" />
    </mat-form-field>

    <div class="friends-section" *ngIf="searchResults && searchResults.length > 0">
        <h3>Utilisateurs trouvés</h3>
        <ul>
            <app-friends-list-item
                *ngFor="let user of searchResults"
                [user]="user"
                [isFriend]="isFriend(user)"
                [isRequestPending]="isRequestPending(user)"
                [isRequestSent]="isRequestSent(user)"
                [isEligible]="isEligible(user)"
                (sendRequest)="sendFriendRequest($event)"
                (cancelRequest)="cancelRequest($event)"
                (acceptRequest)="acceptFriendRequest($event)"
                (rejectRequest)="rejectFriendRequest($event)"
                (removeFriend)="removeFriend($event)"
            ></app-friends-list-item>
        </ul>
    </div>

    <div class="friends-section" *ngIf="pendingRequests && pendingRequests.length > 0">
        <h3>Demandes d'amis reçues</h3>
        <ul>
            <app-friends-list-item
                *ngFor="let user of pendingRequests"
                [user]="user"
                [isFriend]="false"
                [isRequestPending]="true"
                [isRequestSent]="false"
                [isEligible]="false"
                (acceptRequest)="acceptFriendRequest($event)"
                (rejectRequest)="rejectFriendRequest($event)"
            ></app-friends-list-item>
        </ul>
    </div>

    <div class="friends-section" *ngIf="sentRequests && sentRequests.length > 0">
        <h3>Demandes d'amis envoyées</h3>
        <ul>
            <app-friends-list-item
                *ngFor="let user of sentRequests"
                [user]="user"
                [isFriend]="false"
                [isRequestPending]="false"
                [isRequestSent]="true"
                [isEligible]="false"
                (cancelRequest)="cancelRequest($event)"
            ></app-friends-list-item>
        </ul>
    </div>

    <div class="friends-section" *ngIf="friends && friends.length > 0">
        <h3>Mes Amis</h3>
        <ul>
            <app-friends-list-item
                *ngFor="let user of friends"
                [user]="user"
                [isFriend]="true"
                [isRequestPending]="false"
                [isRequestSent]="false"
                [isEligible]="false"
                (removeFriend)="removeFriend($event)"
            ></app-friends-list-item>
        </ul>
    </div>
</div>
