.friends-search-container {
    width: 50vw;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr repeat(4, 0);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.page-title {
    align-self: center;
}

.page-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-buttons {
    grid-area: 1 / 5 / 2 / 6;
    justify-self: right;
    margin-right: 3.2rem;
}

.search-field {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.friends-section {
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;

    h3 {
        margin-bottom: 0.5rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        app-friends-list-item {
            display: block;
        }
    }
}
