<div id="main-container" *transloco="let t">
    <div class="nav">
        <h1>{{ t('admin-main-page.admin-games') }}</h1>
    </div>
    <div id="buttons-container">
        <div id="new-game-buttons-container">
            <button mat-raised-button color="primary" routerLink="/admin/games/new/">
                <mat-icon>add</mat-icon>{{ t('admin-main-page.create-new-game') }}
            </button>
            <button mat-raised-button color="primary" routerLink="/admin/bank">
                <mat-icon>question_mark</mat-icon>{{ t('admin-main-page.question-bank') }}
            </button>
        </div>
    </div>
    <div class="games-container">
        <h2>{{ t('admin-main-page.existing-games-list') }}</h2>
        <mat-card id="game-header-card" class="card-header-background">
            <mat-card-content id="game-header-content"
                ><p>{{ t('admin-main-page.game-title') }}</p>
                <p>{{ t('admin-main-page.author') }}</p>
                <p>{{ t('admin-main-page.last-modification') }}</p>
                <div id="game-list-item-options"><p>Options</p></div>
            </mat-card-content>
        </mat-card>

        <app-pulse-loader *ngIf="gameService.isLoadingGames"></app-pulse-loader>

        <app-game-list-item
            *ngFor="let game of this.gameService.games"
            [game]="game"
            (deleteGameFromList)="onDeleteGameFromList($event)"
            [isAdminMode]="true"
        >
        </app-game-list-item>
    </div>
</div>
