<div id="main-container">
    <div class="nav">
        <h1>Administration des jeux</h1>
        <div class="navigation-buttons">
            <button mat-raised-button routerLink="/home"><mat-icon>home</mat-icon>Page principale</button>
        </div>
    </div>
    <div id="buttons-container">
        <div id="new-game-buttons-container">
            <button mat-raised-button color="primary" routerLink="/admin/games/new/"><mat-icon>add</mat-icon>Créer un nouveau jeu</button>
            <button mat-raised-button color="primary" routerLink="/admin/bank"><mat-icon>question_mark</mat-icon>Banque de questions</button>
        </div>
    </div>
    <div class="games-container">
        <h2>Liste des jeux existants</h2>
        <mat-card id="game-header-card">
            <mat-card-content id="game-header-content"
                ><p>Titre du jeu</p>
                <p>Date de dernière modification</p>
                <div id="game-list-item-options"><p>Options</p></div>
            </mat-card-content>
        </mat-card>

        <app-pulse-loader *ngIf="gameService.isLoadingGames"></app-pulse-loader>

        <app-game-list-item
            *ngFor="let game of this.gameService.games"
            [game]="game"
            (deleteGameFromList)="onDeleteGameFromList($event)"
            [isAdminMode]="true"
        >
        </app-game-list-item>
    </div>
</div>
