<div class="main-container justified mat-typography" *transloco="let t; read: 'main-page'">
    <div class="header-container">
        <i class="material-icons" id="game-logo">flutter_dash</i>
        <h1 class="header-item">Hoot Hoot</h1>
    </div>

    <div class="match-buttons">
        <button mat-raised-button routerLink="/join-match" color="primary" class="match-button" id="join-button">
            <mat-icon>play_circle</mat-icon>
            {{ t('join-match') }}
        </button>
        <button mat-raised-button color="primary" routerLink="/host" class="match-button" id="host-button">
            <mat-icon>add_circle</mat-icon>
            {{ t('host-match') }}
        </button>
    </div>

    <button mat-raised-button color="basic" routerLink="/admin/games" class="match-button" id="admin-button">
        {{ t('admin-game') }}
    </button>
    <button mat-raised-button color="basic" routerLink="/edit-profile" class="match-button" id="profile-button">
        {{ t('edit-profile') }}
    </button>

    <button mat-raised-button color="basic" routerLink="/friends-search" class="match-button" id="friends-button">
        <mat-icon>group</mat-icon>
        {{ t('friends') }}
    </button>

    <button mat-raised-button color="basic" routerLink="/elo-rankings" class="match-button" id="elo-button">
        <mat-icon>group</mat-icon>
        {{ t('rankings') }}
    </button>

    <footer class="footer-container">
        <h4 class="team-name">{{ t('team-name') }}</h4>
    </footer>
</div>
