<div *transloco="let t">
    <div *ngIf="authenticationService.isUserAuthenticated() && matchContextService.getContext() === 0" class="right-panel">
        <button mat-raised-button id="logout-button" (click)="authenticationService.signOut()">
            {{ t('page.logout-action') }}
        </button>
        <div class="balance-container">
            <mat-icon class="balance-icon">account_balance_wallet</mat-icon>
            <span class="balance-text"> {{ moneyService.currentBalance | currency: 'USD' : 'symbol' }} </span>
        </div>
    </div>
</div>

<div [ngClass]="authenticationService.isUserAuthenticated() ? 'two-columns-layout' : ''">
    <app-chat *ngIf="authenticationService.isUserAuthenticated()"> </app-chat>
    <div [ngClass]="authenticationService.isUserAuthenticated() ? 'second-column' : ''">
        <router-outlet> </router-outlet>
    </div>
</div>
