<div id="choice-area" *ngIf="matchContextService.getContext() !== contextOptions.HostView">
    <div *ngFor="let choice of matchRoomService.currentQuestion.choices; let i = index">
        <button
            mat-raised-button
            class="answer"
            color="basic"
            [class.selected]="isSelected(choice) && !answerService.showFeedback"
            [class.correct]="answerService.showFeedback && isCorrectAnswer(choice)"
            [class.incorrect]="answerService.showFeedback && !isCorrectAnswer(choice) && isSelected(choice)"
            (click)="selectChoice(choice)"
        >
            <p>{{ i + 1 }}. {{ choice.text }}</p>
        </button>
        <p *ngIf="matchContextService.getContext() === contextOptions.CheaterView && choice.isCorrect" class="dot"></p>
    </div>
</div>

<div id="answers-container" *ngIf="!matchRoomService.isCooldown && matchContextService.getContext() === contextOptions.HostView">
    <button
        disabled="!answerService.isSelectionEnabled"
        mat-raised-button
        *ngFor="let choice of matchRoomService.currentQuestion.choices; let i = index"
        class="answer"
        [class.correct]="matchRoomService.currentAnswers.includes(choice.text)"
        (click)="selectChoice(choice)"
    >
        <p>{{ i + 1 }}. {{ choice.text }}</p>
    </button>
</div>
