#choice-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    position: fixed;
    top: 55vh;
    align-self: center;
}

.answer {
    padding: 2rem;
    width: 28vw;
    height: 15vh;
    font-size: 1rem;
    overflow: hidden;
}

.answer p {
    max-width: 28vw;
    max-height: 15vh;
}

button.answer.selected {
    background-color: #8f8f8f !important;
    color: white !important;
    transform: scale(0.96);
}

.answer.correct {
    background-color: #4caf50 !important;
    color: white;
}

.answer.incorrect {
    background-color: #f44336 !important;
    color: white;
}

#histogram-container {
    align-self: center;
    position: fixed;
    top: 40vh;
    left: 30vw;
    right: 30vw;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blinking-text {
    animation: blink 2s step-end infinite;
}

.dot {
    height: 2rem;
    width: 2rem;
    background-color: #275d29;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -1rem;
    right: -2rem;
}

.dot::before {
    content: '✓';
    font-size: 3vh;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}
