<div id="main-chat-container">
    <h2 id="current-username">{{ this.authenticationService.userDisplayName }}</h2>
    <div id="messages-container" #messagesContainer>
        <div
            *ngFor="let message of this.chatService.messages"
            class="message-container"
            [ngClass]="message.author === this.authenticationService.userDisplayName ? 'right-message' : 'left-message'"
        >
            <div class="two-columns-container">
                <div *ngIf="message.author !== this.authenticationService.userDisplayName" class="avatar-container">
                    <div class="avatar"><!--TODO: AVATAR--></div>
                </div>
                <div class="message-text-info-container">
                    <div class="message-info-container">
                        <p class="message-author">{{ message.author }}</p>
                        <p>{{ message.date | date: 'HH:mm:ss' }}</p>
                    </div>
                    <div
                        class="message-text-container"
                        [ngClass]="[
                            message.author === this.authenticationService.userDisplayName ? 'own-message' : 'received-message',
                            message.author === 'Organisateur' ? 'host-message' : '',
                            message.author === '' ? 'player-quit-message' : ''
                        ]"
                    >
                        <p>{{ message.text }}</p>
                    </div>
                </div>
                <div *ngIf="message.author === this.authenticationService.userDisplayName" class="avatar-container">
                    <div class="avatar"><!--TODO: AVATAR--></div>
                </div>
            </div>
        </div>
    </div>

    <form id="chat-form" *transloco="let t">
        <mat-form-field id="chat-input-container">
            <mat-label>{{ disableMessagingField ? t('page.disabled-label') : t('page.message-label') }}</mat-label>
            <input
                id="chat-input"
                matInput
                #message
                maxlength="200"
                [placeholder]="'...'"
                (keydown.enter)="sendMessage(message.value); message.value = ''"
                [disabled]="disableMessagingField"
            />
            <mat-icon
                id="chat-send-icon"
                [ngClass]="{ 'disabled-send': disableMessagingField }"
                (click)="sendMessage(message.value); message.value = ''"
                >send</mat-icon
            >
        </mat-form-field>
    </form>
</div>
