<mat-card class id="game-card" [ngClass]="isAdminMode ? '' : 'clickable-item'">
    <mat-card-content [ngClass]="isAdminMode ? 'admin-card-content' : 'game-match-card-content'">
        <p id="game-title">{{ game.title }}</p>
        <p id="game-author">{{ game.authorName ? game.authorName : '' }}</p>
        <p id="game-date" *ngIf="isAdminMode">{{ game.lastModification | date: 'YYYY-MM-dd HH:mm:ss' }}</p>
        <div *ngIf="isAdminMode" id="icons-container">
            <button
                mat-icon-button
                color="primary"
                routerLink="/admin/games/{{ game.id }}"
                matTooltip="Modifier le jeu"
                matTooltipClass="button-tooltip"
            >
                <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteGame()" color="warn" matTooltip="Supprimer le jeu" matTooltipClass="button-tooltip">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>
