.clickable-item {
    cursor: pointer;
}

#game-card {
    box-shadow: 2px 0 2.5px 0 10px;
    border-radius: 5pt;
    min-height: 3rem;
}

.admin-card-content {
    padding: 0 1rem;
    margin-left: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.game-match-card-content {
    padding: 0 1rem;
    margin-left: 8px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    align-items: center;
}

#icons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
