.clickable-item {
    cursor: pointer;
}

.clickable-item:hover {
    background-color: #dddddd;
}

#game-card {
    box-shadow: 2px 0 2.5px 0 10px;
    border-radius: 5pt;
    min-height: 3rem;
}

#game-card-content {
    padding: 0 1rem;
    margin-left: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

#icons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.full-grid {
    grid-area: 1 / 1 / 2 / 4;
}
