<div id="main-container" *transloco="let t">
    <div class="centered-container" *ngIf="matchRoomService.isMatchStarted">
        <div id="game-starting">
            <h1>{{ t('wait-page.starting', { title: this.matchRoomService.gameTitle }) }}</h1>
            <div id="timer">
                <mat-progress-spinner [value]="timeService.computeTimerProgress()" mode="determinate" diameter="350"> </mat-progress-spinner>
                <h2 id="time-left">
                    {{ timeService.time }}
                </h2>
            </div>
        </div>
    </div>
    <div id="waiting-for-players" *ngIf="!matchRoomService.isMatchStarted">
        <h1>{{ t('wait-page.start-soon') }}</h1>
        <div id="host-options-container">
            <div id="code-container">
                <div>
                    <h2>{{ t('main-page.access-code') }}</h2>
                    <p id="code">{{ matchRoomService.getRoomCode() }}</p>
                </div>
                <img src="{{ qrCodeUrl }}" alt="" />
            </div>
            <mat-slide-toggle *ngIf="isHost" [checked]="isLocked" (click)="toggleLock()">{{
                isLocked ? t('wait-page.locked-match') : t('wait-page.unlocked-match')
            }}</mat-slide-toggle>
            <button
                *ngIf="isHost && !matchRoomService.isCheaterMode"
                mat-raised-button
                id="start-button"
                color="primary"
                (click)="startMatch()"
                [disabled]="
                    !isLocked ||
                    matchRoomService.players.length === 0 ||
                    (matchRoomService.partyConfig.isEntryFeeRequired && matchRoomService.players.length <= 1)
                "
            >
                {{ t('wait-page.start-match') }}
            </button>
            <p *ngIf = "matchRoomService.isCheaterMode && isHost ">
                <button
                    mat-raised-button
                    id="start-button"
                    color="primary"
                    (click)="startMatch()"
                    [disabled]="
                    matchRoomService.players.length <3 ||
                        !isLocked ||
                        
                        (matchRoomService.partyConfig.isEntryFeeRequired && matchRoomService.players.length <= 1)
                    "
                >
                    {{ t('wait-page.start-match') }}
                </button>
            </p>
        </div>
        <div id="exit-button-container">
            <button mat-raised-button id="exit-button" color="basic" routerLink="/home" (click)="quitGame()">
                <p>{{ t('nav.quit') }}</p>
                <i class="material-icons">logout</i>
            </button>
        </div>
        <mat-card *ngFor="let player of matchRoomService.players" class="player-username-card">
            <div class="username-avatar-container">
                <div class="avatar-container">
                    <div class="avatar">
                        <img src="{{ player.photoUrl ? player.photoUrl : defaultAvatar }}" alt="" />
                    </div>
                </div>
                <p>{{ player.username }}</p>
            </div>
            <button mat-icon-button (click)="banPlayerId(player.id)" color="warn" *ngIf="isHost">
                <!-- <mat-icon *ngIf="player.username !== 'Organisateur'">delete</mat-icon> -->
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card>
    </div>
</div>
