<ng-container *transloco="let t">
    <div id="main-container" (keyup.enter)="sendResetPasswordEmail()">
        <mat-card id="main-card">
            <h1>{{ t('page.forgot-password') }}</h1>
            <div id="form">
                <mat-form-field id="email">
                    <mat-label>{{ t('page.email') }}</mat-label>
                    <input matInput placeholder="" [(ngModel)]="email" id="email-input" autofocus cdkFocusInitial />
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="sendResetPasswordEmail()">{{ t('page.reset-password') }}</button>
            <button mat-raised-button routerLink="/login">{{ t('page.return-to-login') }}</button>
        </mat-card>
    </div>
</ng-container>
