<ng-container *transloco="let t">
    <h1 class="page-title">{{ t('main-page.host-match') }}</h1>

    <div id="match-creation-page">
        <div id="popular-game-list-container"></div>
        <div id="game-list-container">
            <h2>{{ t('match-creation-page.games-list') }}</h2>
            <app-pulse-loader *ngIf="isLoadingGames"></app-pulse-loader>
            <h3>{{ t('match-creation-page.popular-games') }}</h3>
            <div class="popular-games-container">
                <mat-card *ngFor="let game of mostPopularGames" (click)="loadSelectedGame(game)" class="popular-game-card clickable-item">
                    <h4 class="popular-game-title">{{ game.title }}</h4>
                    <p class="popular-games-count">{{ t('match-creation-page.n-matches-played') }} {{ game.nMatchesPlayed }}</p>
                </mat-card>
            </div>
            <div id="search-container">
                <h3>{{ t('games-search.label') }}</h3>
                <div id="search-inputs-container">
                    <mat-form-field appearance="outline" class="search-field">
                        <mat-label>{{ t('games-search.title') }}</mat-label>
                        <input matInput [formControl]="titleSearchControl" [placeholder]="t('games-search.title')" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="search-field">
                        <mat-label>{{ t('games-search.author') }}</mat-label>
                        <input matInput [formControl]="authorSearchControl" [placeholder]="t('games-search.author')" />
                    </mat-form-field>
                </div>
            </div>
            <mat-card class="game-match-card-header card-header-background">
                <p class="wrap">{{ t('admin-main-page.game-title') }}</p>
                <p class="wrap">{{ t('admin-main-page.author') }}</p>
            </mat-card>
            <app-game-list-item
                *ngFor="let game of searchResults"
                [game]="game"
                [isAdminMode]="false"
                (click)="loadSelectedGame(game)"
            ></app-game-list-item>
        </div>

        <div id="game-details-container">
            <div id="game-details-header">
                <h2>{{ t('match-creation-page.game-details') }}{{ selectedGame ? '"' + selectedGame.title + '"' : '' }}</h2>
                <div id="buttons-container">
                    <button
                        mat-raised-button
                        color="primary"
                        (click)="openPartyConfigDialog()"
                        *ngIf="gameIsValid && !isRandomGame"
                        [disabled]="buttonClicked"
                    >
                        {{ t('common.play') }}
                    </button>
                </div>
            </div>

            <cdk-virtual-scroll-viewport class="virtual-scroll" itemSize="50">
                <div id="game-details" *ngIf="gameIsValid && !isLoadingSelectedGame; else elseBlock">
                    <div>
                        <strong><i class="material-icons">notes</i> Description: </strong>
                        <span id="game-description" class="wrap">{{ selectedGame.description }}</span>
                    </div>
                    <div id="time-container">
                        <strong><i class="material-icons">access_time</i> {{ t('match-creation-page.time-per-QCM') }}</strong>
                        <span id="game-time-duration" class="wrap">{{ selectedGame.duration }} sec.</span>
                    </div>
                    <div class="list">
                        <strong><i class="material-icons">contact_support</i> Questions : </strong>
                        <span id="game-questions" class="wrap" *ngFor="let question of selectedGame.questions; let i = index"
                            >{{ i + 1 }}. {{ question.text }}<br
                        /></span>
                    </div>
                </div>

                <ng-template #elseBlock>
                    <span *ngIf="!isLoadingSelectedGame">{{ t('match-creation-page.select-game') }}</span>
                </ng-template>

                <app-pulse-loader *ngIf="isLoadingSelectedGame"></app-pulse-loader>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</ng-container>
