<ng-container *transloco="let t"
    ><div class="nav">
        <h1 class="page-title">{{ t('main-page.host-match') }}</h1>
        <div class="navigation-buttons">
            <button mat-raised-button routerLink="/home"><mat-icon>home</mat-icon>{{ t('nav.main-page') }}</button>
        </div>
    </div>
    <div id="match-creation-page">
        <div id="popular-game-list-container"></div>
        <div id="game-list-container">
            <h2>{{ t('match-creation-page.games-list-label') }}</h2>
            <app-pulse-loader *ngIf="isLoadingGames"></app-pulse-loader>
            <h3>{{ t('match-creation-page.popular-games') }}</h3>
            <div class="popular-games-container">
                <mat-card *ngFor="let game of mostPopularGames" (click)="loadSelectedGame(game)" class="popular-game-card">
                    <h4>{{ game.title }}</h4>
                    <p>{{ t('match-creation-page.n-matches-played') }} {{ game.nMatchesPlayed }}</p>
                </mat-card>
            </div>
            <cdk-virtual-scroll-viewport class="virtual-scroll" itemSize="50">
                <h3>Tous les jeux</h3>
                <app-game-list-item
                    *cdkVirtualFor="let game of games"
                    [game]="game"
                    [isAdminMode]="false"
                    (click)="loadSelectedGame(game)"
                ></app-game-list-item>
            </cdk-virtual-scroll-viewport>
        </div>

        <div id="game-details-container">
            <div id="game-details-header">
                <h2>{{ t('match-creation-page.game-details-label') }}{{ selectedGame ? '"' + selectedGame.title + '"' : '' }}</h2>
                <div id="buttons-container">
                    <button mat-raised-button color="primary" (click)="createMatch(matchContext.HostView)" *ngIf="gameIsValid && !isRandomGame">
                        {{ t('common.play') }}
                    </button>
                </div>
            </div>
            <cdk-virtual-scroll-viewport class="virtual-scroll" itemSize="50">
                <div id="game-details" *ngIf="gameIsValid && !isLoadingSelectedGame; else elseBlock">
                    <div>
                        <strong><i class="material-icons">notes</i> Description: </strong>
                        <span id="game-description">{{ selectedGame.description }}</span>
                    </div>
                    <div id="time-container">
                        <strong><i class="material-icons">access_time</i> {{ t('match-creation-page.time-per-QCM') }}</strong>
                        <span id="game-time-duration">{{ selectedGame.duration }} sec.</span>
                    </div>
                    <div class="list">
                        <strong><i class="material-icons">contact_support</i> Questions : </strong>
                        <span id="game-questions" *ngFor="let question of selectedGame.questions; let i = index"
                            >{{ i + 1 }}. {{ question.text }}<br
                        /></span>
                    </div>
                </div>

                <ng-template #elseBlock>
                    <span *ngIf="!isLoadingSelectedGame">{{ t('match-creation-page.select-game-label') }}</span>
                </ng-template>

                <app-pulse-loader *ngIf="isLoadingSelectedGame"></app-pulse-loader>
            </cdk-virtual-scroll-viewport>
        </div></div
></ng-container>
