#main-container {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-card {
    padding: 2rem;
    width: 40vw;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 1rem;
}

mat-form-field {
    width: 30vw;
}

#email {
    width: 30vw;
}

#password-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: flex-end;
    gap: 0;
}

#password-container button {
    font-style: italic;
}
