<ng-container *transloco="let t">
    <div id="main-container" (keyup.enter)="signIn()">
        <mat-card id="main-card">
            <h1>{{ t('page.login-title') }}</h1>
            <div id="form">
                <mat-form-field id="email">
                    <mat-label>{{ t('page.email') }}</mat-label>
                    <input matInput placeholder="" [(ngModel)]="email" id="email-input" autofocus cdkFocusInitial />
                </mat-form-field>
                <div id="password-container">
                    <mat-form-field id="Password">
                        <mat-label>{{ t('page.password') }}</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" />
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-button color="primary" routerLink="/forgot-password">{{ t('page.forgot-password') }}</button>
                </div>
            </div>
            <button mat-raised-button color="primary" (click)="signIn()">{{ t('page.login-action') }}</button>
            <button mat-raised-button routerLink="/signup">{{ t('page.signup-action') }}</button>
        </mat-card>
    </div>
</ng-container>
