<ng-container *transloco="let t">
    <h1 mat-dialog-title>{{ t('username-suggestion.title') }}</h1>
    <div mat-dialog-content>
        <mat-radio-group class="username-radio-group" [(ngModel)]="selectedUsername">
            <div *ngFor="let username of this.usernameSuggestionService.usernames">
                <mat-radio-button class="radio-button" [value]="username">{{ username }}</mat-radio-button>
            </div>
        </mat-radio-group>
        <button mat-raised-button color="primary" (click)="regenerate()">{{ t('username-suggestion.regenerate') }}</button>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button (click)="onCancel()">{{ t('common.cancel') }}</button>
        <button mat-raised-button cdkFocusInitial color="primary" (click)="onConfirm()">{{ t('username-suggestion.ok') }}</button>
    </div>
</ng-container>
