<ng-container *transloco="let t">
    <div id="main-container">
        <div class="nav">
            <h1>{{ t('main-page.join-match') }}</h1>
            <div class="navigation-buttons">
                <button mat-raised-button routerLink="/home"><mat-icon>home</mat-icon>{{ t('nav.main-page') }}</button>
            </div>
        </div>

        <div id="join-with-code-container">
            <mat-form-field type="text">
                <mat-label>{{ t('join.room-code') }}</mat-label>
                <input
                    id="code-input"
                    matInput
                    #inputCode
                    maxlength="200"
                    [placeholder]="'...'"
                    (keydown.enter)="submitCode(inputCode.value); inputCode.value = ''"
                />
            </mat-form-field>
            <button mat-raised-button (click)="submitCode(input)" color="primary" id="join-button">
                <mat-icon>play_circle</mat-icon>
                <p>Joindre</p>
            </button>
        </div>
        <h2>{{ t('join.waiting-matches') }}</h2>
        <div>
            <h3>{{ t('join.unlocked-matches') }}</h3>
            <div class="matches-container">
                <div *ngIf="unlockedMatches.length === 0" class="no-matches-container">
                    <p>{{ t('join.no-match') }}</p>
                </div>
                <div *ngFor="let match of unlockedMatches">
                    <mat-card class="match-card clickable" (click)="submitCode(match.code)">
                        <h3>{{ match.gameTitle }}</h3>
                        <div class="nPlayers">
                            <i class="material-icons">people_alt</i>
                            <p>{{ match.nPlayers }}</p>
                        </div>
                        <button mat-raised-button color="primary" class="join-existing-match-button">
                            <p>{{ t('join.join ') }}</p>
                        </button>
                    </mat-card>
                </div>
            </div>
            <h3>{{ t('locked-matches') }}</h3>
            <div *ngIf="lockedMatches.length === 0" class="no-matches-container">
                <p>{{ t('join.no-match') }}</p>
            </div>
            <div class="matches-container">
                <div *ngFor="let match of lockedMatches">
                    <mat-card class="match-card">
                        <h3>{{ match.gameTitle }}</h3>
                        <div class="nPlayers">
                            <i class="material-icons">people_alt</i>
                            <p>{{ match.nPlayers }}</p>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <h2>{{ t('join.playing-matches') }}</h2>
        <div class="matches-container">
            <div *ngIf="playingMatches.length === 0" class="no-matches-container">
                <p>{{ t('join.no-match') }}</p>
            </div>
            <div *ngFor="let match of playingMatches">
                <mat-card class="match-card">
                    <h3>{{ match.gameTitle }}</h3>
                    <div class="nPlayers">
                        <i class="material-icons">people_alt</i>
                        <p>{{ match.nPlayers }}</p>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</ng-container>
