<ng-container *transloco="let t">
    <div id="main-container">
        <div class="nav">
            <h1>{{ t('main-page.join-match') }}</h1>
        </div>

        <div id="join-with-code-container">
            <mat-form-field type="text">
                <mat-label>{{ t('join.room-code') }}</mat-label>
                <input
                    id="input-code"
                    matInput
                    #inputCode
                    maxlength="4"
                    [placeholder]="'...'"
                    (keydown.enter)="submitCode(inputCode.value); inputCode.value = ''"
                />
            </mat-form-field>
            <button mat-raised-button (click)="submitCode(inputCode.value)" color="primary" id="join-button">
                <p>{{ t('join.join-action') }}</p>
            </button>
        </div>
        <h2>{{ t('join.waiting-matches') }}</h2>
        <div>
            <h3>{{ t('join.unlocked-matches') }}</h3>
            <div class="matches-container">
                <div *ngIf="unlockedMatches.length === 0" class="no-matches-container">
                    <p>{{ t('join.no-match') }}</p>
                </div>
                <div *ngFor="let match of unlockedMatches">
                    <mat-card class="match-card clickable" (click)="submitCode(match.code)">
                        <h3>{{ match.gameTitle }}</h3>
                        <div class="match-details-container">
                            <div class="nPlayers">
                                <i class="material-icons">people_alt</i>
                                <p>{{ match.nPlayers }}</p>
                            </div>

                            <div *ngIf="match.partyConfig?.isFriendsOnly" class="match-flag friends-only">
                                <i class="material-icons">people</i>
                                <span>{{ match.partyConfig.isFriendsOnly}}</span>
                            </div>
                            <div *ngIf="match.partyConfig?.isCheaterMode" class="match-flag friends-only">
                                <i class="material-icons"></i>
                                <span>{{t('match-config.cheater-mode')}}</span>
                            </div>

                            <div *ngIf="match.partyConfig?.isEntryFeeRequired" class="match-flag entry-fee">
                                <i class="material-icons">attach_money</i>
                                <span>{{ match.partyConfig.entryFeeAmount }}</span>
                            </div>
                        </div>
                        <button mat-raised-button color="primary" class="join-existing-match-button">
                            <p>{{ t('join.join-action') }}</p>
                        </button>
                    </mat-card>
                </div>
            </div>
            <h3>{{ t('join.locked-matches') }}</h3>
            <div *ngIf="lockedMatches.length === 0" class="no-matches-container">
                <p>{{ t('join.no-match') }}</p>
            </div>
            <div class="matches-container">
                <div *ngFor="let match of lockedMatches">
                    <mat-card class="match-card">
                        <h3>{{ match.gameTitle }}</h3>
                        <div class="match-details-container">
                            <div class="nPlayers">
                                <i class="material-icons">people_alt</i>
                                <p>{{ match.nPlayers }}</p>
                            </div>

                            <div *ngIf="match.partyConfig?.isFriendsOnly" class="match-flag friends-only">
                                <i class="material-icons"></i>
                                <span>Amis uniquement</span>
                            </div>

                            <div *ngIf="match.partyConfig?.isCheaterMode" class="match-flag friends-only">
                                <i class="material-icons">thief</i>
                                <span>{{t('match-config.cheater-mode')}}</span>
                            </div>


                            <div *ngIf="match.partyConfig?.isEntryFeeRequired" class="match-flag entry-fee">
                                <i class="material-icons">attach_money</i>
                                <span>{{ match.partyConfig.entryFeeAmount }}</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <h2>{{ t('join.playing-matches') }}</h2>
        <div class="matches-container">
            <div *ngIf="playingMatches.length === 0" class="no-matches-container">
                <p>{{ t('join.no-match') }}</p>
            </div>
            <div *ngFor="let match of playingMatches">
                <mat-card class="match-card">
                    <h3>{{ match.gameTitle }}</h3>
                    <div class="match-details-container">
                        <div class="nPlayers">
                            <i class="material-icons">people_alt</i>
                            <p>{{ match.nPlayers }}</p>
                        </div>

                        <div *ngIf="match.partyConfig?.isFriendsOnly" class="match-flag friends-only">
                            <i class="material-icons">people</i>
                            <span>{{ match.partyConfig.isFriendsOnly }}</span>
                        </div>

                        <div *ngIf="match.partyConfig?.isCheaterMode" class="match-flag friends-only">
                            <i class="material-icons"></i>
                            <span>{{t('match-config.cheater-mode')}}</span>
                        </div>

                        <div *ngIf="match.partyConfig?.isEntryFeeRequired" class="match-flag entry-fee">
                            <i class="material-icons">attach_money</i>
                            <span>{{ match.partyConfig.entryFeeAmount }}</span>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</ng-container>
