.config-section {
    margin-bottom: 20px;
    flex-direction: row; 
    align-items: center;
}

.fee-section {
    margin-top: 15px;
    margin-left: 25px;
}

.helper-text {
    font-size: 0.85rem;
    margin-top: 5px;
    margin-left: 5px;
}
.info-button {
 position:absolute;
 margin-top: -7px;
}
mat-form-field {
    width: 100%;
    float: right;
}
