.config-section {
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
}

.fee-section {
    margin-top: 15px;
    margin-left: 25px;
}

.helper-text {
    font-size: 0.85rem;
    margin-top: 5px;
    margin-left: 5px;
}

mat-form-field {
    width: 100%;
    float: right;
}

.mode-buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.cheater-mode-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-button {
    margin-left: 8px;
}
