<li class="user-item" *transloco="let t; read: 'friends-search'">
    <div class="user-info">
        <img class="avatar" [src]="user.photoUrl ? user.photoUrl : defaultAvatar" alt="Avatar" loading="lazy" />
        <span class="username text-overflow-ellipsis">{{ user.name }}</span>
    </div>
    <ng-container [ngSwitch]="true">
        <ng-container *ngSwitchCase="isFriend">
            <div class="action-buttons">
                <button mat-raised-button color="basic" disabled>{{ t('is-friend') }}</button>
                <button mat-raised-button color="warn" (click)="onRemove()">{{ t('remove-friend') }}</button>
                <button mat-raised-button color="primary" (click)="onDonate()">{{ t('donate-money') }}</button>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="isRequestPending">
            <div class="action-buttons">
                <button mat-raised-button color="warn" (click)="onReject()">{{ t('decline-request') }}</button>
                <button mat-raised-button color="primary" (click)="onAccept()">{{ t('accept-request') }}</button>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="isRequestSent">
            <div class="action-buttons">
                <button mat-raised-button color="primary" disabled>{{ t('request-sent') }}</button>
                <button mat-raised-button color="warn" (click)="onCancel()">{{ t('cancel-request') }}</button>
            </div>
        </ng-container>

        <button *ngSwitchDefault mat-raised-button color="primary" (click)="onSend()" [disabled]="!isEligible">{{ t('add-friend') }}</button>
    </ng-container>
</li>
