<li class="user-item" *transloco="let t; read: 'friends-search'">
    <div class="user-info">
        <img class="avatar" [src]="user.photoUrl ? user.photoUrl : defaultAvatar" alt="Avatar" />
        <span class="username">{{ user.name }}</span>
        <span class="status-indicator" [ngClass]="{ online: user.isOnline, offline: !user.isOnline }"></span>
    </div>
    <ng-container [ngSwitch]="true">
        <!-- <button *ngSwitchCase="isFriend" mat-raised-button color="basic" disabled>✅ Amis</button> -->
        <ng-container *ngSwitchCase="isFriend">
            <div class="action-buttons">
                <button mat-raised-button color="basic" disabled>{{ t('is-friend') }}</button>
                <button mat-raised-button color="warn" (click)="onRemove()">{{ t('remove-friend') }}</button>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="isRequestPending">
            <div class="action-buttons">
                <button mat-raised-button color="accent" (click)="onAccept()">{{ t('accept-request') }}</button>
                <button mat-raised-button color="warn" (click)="onReject()">{{ t('decline-request') }}</button>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="isRequestSent">
            <div class="action-buttons">
                <button mat-raised-button color="warn" disabled>{{ t('request-sent') }}</button>
                <button mat-raised-button color="accent" (click)="onCancel()">{{ t('cancel-request') }}</button>
            </div>
        </ng-container>
        <button *ngSwitchDefault mat-raised-button color="primary" (click)="onSend()" [disabled]="!isEligible">{{ t('add-friend') }}</button>
    </ng-container>
</li>
