<ng-container *transloco="let t">
    <div id="main-container" (keyup.enter)="signUp()">
        <mat-card id="main-card">
            <h1>{{ t('page.signup-title') }}</h1>
            <form id="form" [formGroup]="form">
                <div class="two-columns-container">
                    <div id="avatars-container">
                        <div id="main-avatar-container">
                            <div id="main-avatar">
                                <img *ngIf="form.get('avatar')!.value" [src]="form.get('avatar')!.value" />
                            </div>
                            <input class="avatar" type="file" #avatar (change)="setCustomAvatar($event)" accept="image/png, image/jpeg" />
                            <button mat-raised-button type="button" color="primary" (click)="avatar.click()">
                                <mat-icon>upload</mat-icon>{{ t('page.upload-avatar') }}
                            </button>
                        </div>
                        <div id="avatar-choices-container">
                            <p>{{ t('page.avatar-choices') }}</p>
                            <div id="avatar-choices">
                                <div class="avatar-mini" *ngFor="let enum of presetAvatar | keyvalue" (click)="setPresetAvatar(enum.value)">
                                    <img src="{{ enum.value }}" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <mat-form-field id="email">
                            <mat-label>{{ t('page.email') }}</mat-label>
                            <input
                                required
                                matInput
                                type="email"
                                name="email"
                                placeholder=""
                                formControlName="email"
                                maxlength="200"
                                autofocus
                                cdkFocusInitial
                                id="email-input"
                            />
                            <mat-error *ngIf="form.get('email')?.hasError('required')">{{ t('auth.error.invalid-email') }} </mat-error>
                            <mat-error *ngIf="form.get('email')?.hasError('email')">{{ t('auth.error.invalid-email') }} </mat-error>
                        </mat-form-field>
                        <mat-form-field
                            id="username"
                            [ngClass]="{ 'mat-form-field-invalid': form.get('username')?.invalid && form.get('username')?.touched }"
                        >
                            <mat-label>{{ t('page.username') }}</mat-label>
                            <input
                                required
                                matInput
                                type="username"
                                name="username"
                                formControlName="username"
                                maxlength="20"
                                placeholder=""
                                id="username-input"
                            />
                            <button type="button" mat-icon-button matSuffix (click)="openUsernameDialog()">
                                <mat-icon>auto_fix_high</mat-icon>
                            </button>
                            <mat-error *ngIf="form.get('username')?.hasError('containsSpecialChar')"
                                >{{ t('auth.error.username-special-char') }}
                            </mat-error>
                            <mat-error *ngIf="form.get('username')?.hasError('minlength')"
                                >{{ t('auth.error.username-too-short', { length: minUsernameLength }) }}
                            </mat-error>
                            <mat-error *ngIf="form.get('username')?.hasError('maxlength')"
                                >{{ t('auth.error.username-too-long', { length: maxUsernameLength }) }}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field id="password">
                            <mat-label>{{ t('page.password') }}</mat-label>
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" maxlength="200" />
                            <mat-error *ngIf="form.get('password')?.hasError('noLowercase')">{{ t('auth.error.password-lowercase') }} </mat-error>
                            <mat-error *ngIf="form.get('password')?.hasError('noUppercase')">{{ t('auth.error.password-uppercase') }} </mat-error>
                            <mat-error *ngIf="form.get('password')?.hasError('noDigit')">{{ t('auth.error.password-digit') }} </mat-error>
                            <mat-error *ngIf="form.get('password')?.hasError('noSpecial')">{{ t('auth.error.password-special') }} </mat-error>
                            <mat-error *ngIf="form.get('password')?.hasError('minlength')"
                                >{{ t('auth.error.password-too-short', { length: passwordMinLength }) }}
                            </mat-error>
                            <mat-error *ngIf="form.get('password')?.hasError('maxlength')"
                                >{{ t('auth.error.password-too-long', { length: passwordMaxLength }) }}
                            </mat-error>
                            <button
                                type="button"
                                mat-icon-button
                                matSuffix
                                (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide"
                            >
                                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
                <div id="buttons-container">
                    <button mat-raised-button type="button" routerLink="/login">{{ t('page.return-to-login') }}</button>
                    <button mat-raised-button type="button" color="primary" (click)="signUp()" id="signup-button">
                        {{ t('page.signup-action') }}
                    </button>
                </div>
            </form>
        </mat-card>
    </div>
</ng-container>
