<ng-container *transloco="let t">
    <div id="main-container" (keyup.enter)="signUp()">
        <mat-card id="main-card">
            <h1>Nouveau compte</h1>
            <form id="form" [formGroup]="form">
                <div class="two-columns-container">
                    <div id="avatars-container">
                        <div id="main-avatar-container">
                            <div id="main-avatar">
                                <img *ngIf="form.get('avatar')!.value" [src]="form.get('avatar')!.value" />
                            </div>
                            <input class="avatar" type="file" #avatar (change)="setCustomAvatar($event)" accept="image/png, image/jpeg" />
                            <button mat-raised-button type="button" color="primary" (click)="avatar.click()">
                                <mat-icon>upload</mat-icon>Téléverser un avatar
                            </button>
                        </div>
                        <div id="avatar-choices-container">
                            <p>Avatars prédéfinis</p>
                            <div id="avatar-choices">
                                <div class="avatar-mini" *ngFor="let enum of presetAvatar | keyvalue" (click)="setPresetAvatar(enum.value)">
                                    <img src="{{ enum.value }}" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <mat-form-field id="email">
                            <mat-label>Courriel</mat-label>
                            <input
                                required
                                matInput
                                type="email"
                                name="email"
                                placeholder=""
                                formControlName="email"
                                maxlength="200"
                                autofocus
                                cdkFocusInitial
                                id="email-input"
                            />
                            <mat-error *ngIf="form.get('email')?.hasError('required')">Adresse courriel invalide</mat-error>
                            <mat-error *ngIf="form.get('email')?.hasError('email')">Adresse courriel invalide</mat-error>
                        </mat-form-field>
                        <mat-form-field
                            id="username"
                            [ngClass]="{ 'mat-form-field-invalid': form.get('username')?.invalid && form.get('username')?.touched }"
                        >
                            <mat-label>Nom d'utilisateur</mat-label>
                            <input
                                required
                                matInput
                                type="username"
                                name="username"
                                formControlName="username"
                                maxlength="20"
                                placeholder=""
                                id="username-input"
                            />
                            <button type="button" mat-icon-button matSuffix (click)="openUsernameDialog()">
                                <mat-icon>auto_fix_high</mat-icon>
                            </button>
                            <mat-error *ngIf="form.get('username')?.hasError('containsSpecialChar')"
                                >Ne doit pas contenir des charactères spéciaux.
                            </mat-error>
                            <mat-error *ngIf="form.get('username')?.hasError('minlength')"
                                >Nom d'utilisateur trop court. Min {{ minUsernameLength }} caractères.
                            </mat-error>
                            <mat-error *ngIf="form.get('username')?.hasError('maxlength')"
                                >Nom d'utilisateur trop long. Min {{ maxUsernameLength }} caractères.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field id="password">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" maxlength="200" />
                            <mat-error *ngIf="form.get('password')?.hasError('noLowercase')"
                                >Devrait contenir au moins 1 lettre minuscule.
                            </mat-error>
                            <mat-error *ngIf="form.get('password')?.hasError('noUppercase')"
                                >Devrait contenir au moins 1 lettre majuscule.
                            </mat-error>
                            <mat-error *ngIf="form.get('password')?.hasError('noDigit')">Devrait contenir au moins 1 chiffre.</mat-error>
                            <mat-error *ngIf="form.get('password')?.hasError('noSpecial')">Devrait contenir au moins 1 caractère spécial.</mat-error>
                            <mat-error *ngIf="form.get('password')?.hasError('minlength')"
                                >Le mot de passe est trop court (minimum: 6 caractères).
                            </mat-error>
                            <mat-error *ngIf="form.get('password')?.hasError('maxlength')"
                                >Mot de passe trop long. Max {{ passwordMaxLength }} caractères
                            </mat-error>
                            <button
                                type="button"
                                mat-icon-button
                                matSuffix
                                (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide"
                            >
                                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
                <div id="buttons-container">
                    <button mat-raised-button type="button" routerLink="/login">Retour à la page de connexion</button>
                    <button mat-raised-button type="button" color="primary" (click)="signUp()" id="signup-button">S'inscrire</button>
                </div>
            </form>
        </mat-card>
    </div>
</ng-container>
