#main-container {
    padding: 1rem 8rem;
}
#form-fields {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

#avatars-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-avatar-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#main-avatar {
    background-color: gray;
    width: 10rem;
    height: 10rem;
    border-radius: 100rem;
}

#avatar-choices-container {
    padding: 1rem;
}

#avatar-choices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}

.avatar-mini {
    background-color: gray;
    width: 2rem;
    height: 2rem;
    border-radius: 100rem;
    cursor: pointer;
}

.two-columns-container {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
}

#save-button {
    width: 10vw;
    padding: 1.5rem 3rem;
}

.content-container {
    width: 50vw;
}

.card {
    margin-bottom: 2rem;
}

input[type='file'] {
    display: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 100rem;
}

.history-auth-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 1rem;
    margin-bottom: 0.5rem;
    width: 30vw;
}

.history-match-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0rem 1rem;
    margin-bottom: 0.5rem;
}

.no-item-to-display {
    font-style: italic;
}

.header-card {
    background-color: rgb(0, 0, 0, 0.05);
    font-weight: 500;
}
