<ng-container *transloco="let t">
    <div id="main-container">
        <h1>{{ t('page.user-edit') }}</h1>
        <div class="content-container">
            <mat-card class="two-columns-container">
                <div id="avatar"><!--TODO: AVATAR--></div>
                <div id="form">
                    <mat-form-field id="email">
                        <mat-label>{{ t('page.email') }}</mat-label>
                        <input matInput placeholder="" id="email-input" [(ngModel)]="email" />
                    </mat-form-field>
                    <mat-form-field id="username">
                        <mat-label>{{ t('page.username') }}</mat-label>
                        <input matInput placeholder="" id="username-input" [(ngModel)]="username" />
                    </mat-form-field>
                    <mat-form-field id="password">
                        <mat-label>{{ t('page.password') }}</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" />
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="save()" id="save-button">{{ t('page.save') }}</button>
                </div>
            </mat-card>
        </div>
    </div>
</ng-container>
