#sort-questions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.question:last-child {
    border: none;
}

#main-container {
    width: 60vw;
    margin: 0;
    padding: 1rem 8rem;
}
